
  
  <hr>
    <h1>Barrios de Valledupar</h1><br>
  <hr>
  
  <div class="row start-xs margin-0">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 padding-10" *ngFor="let barrio of keys(barrios)">
      <mat-card class="borde-radio-10">
    
        <div class="title">
          <h2>{{barrios[barrio]?.nombre}}</h2>
        </div>
        <div class="des">
            <p>Comuna: <br> {{barrios[barrio].nombrecomuna}}</p>
          <div class="wrapper">
            <div class="button">
              <div class="icon">
                <i  class="fas fa-pen"></i></div>
            </div>
            <div class="button">
              <div class="icon">
                <i class="fas fa-trash-alt"></i></div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    
  </div>

  
    <div class="buttonFlooting">
      <div class="icon">
        <i class="fas fa-plus" (click)="modalFormulario()"  ></i></div>
    </div>
  


<!--  [routerLink]="['/formulariobarrios']" -->