<form [formGroup]="formulario" (ngSubmit)="guardar()" (keyup.enter)="guardar()" autocomplete="on">

    <div class="row center-xs">
        <h4>{{datosquellegan?.titulo}} Miembro</h4>
    </div>
    <mat-dialog-content>


        <div class="row center-xs">
            <mat-form-field appearance="fill">
                <mat-label> Nombre (*)</mat-label>
                <input matInput placeholder="Nombrehabitante" formControlName="nombrehabitante">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Apellido (*)</mat-label>
                <input matInput placeholder="Apellidohabitante" formControlName="apellidohabitante">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label> Fecha de nacimiento (*)</mat-label>
                <input type="date" matInput placeholder="Nacimientohabitante" formControlName="nacimientohabitante">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label> Genero (*)</mat-label>
                <input type="" matInput placeholder="Generohabitante" formControlName="generohabitante">
            </mat-form-field>
           <!-- <mat-form-field appearance="fill">
                <mat-label>Genero</mat-label>
                <mat-select formControlName="generohabitante" >
                    <mat-option>Seleccione</mat-option>
                    <mat-option [value]="M">M</mat-option>
                    <mat-option [value]="F">F</mat-option>

                </mat-select>
             </mat-form-field>
             -->
             <form>

  
  
</form>
            <mat-form-field appearance="fill">
                <mat-label>Telefono (*)</mat-label>
                <input type="tel" matInput placeholder="Telefonohabitante" formControlName="telefonohabitante">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <textarea matInput placeholder="Ejemplo: Cra. 7 #18a- a 18a-101"
                    formControlName="direccionhabitante"></textarea>
            </mat-form-field>

        </div>
    </mat-dialog-content>

    <div class="row center-xs">
        <button mat-flat-button (click)="cancelar()" type="button">Cancelar</button>
        <button mat-flat-button (click)="guardar()" type="submit" [disabled]="formulario.invalid">Guardar</button>
    </div>

</form>