
  <div class="row margin-0 start-xs padding-16">
    <mat-card-title>{{comuna?.nombre}}</mat-card-title>
  </div>
  
  <div class="row center-xs padding-16 margin-0">
    <div class="row margin-0 col-xs-12 col-sm-8 col-md-4 col-lg-4 padding-10 center-xs">
      <mat-card>
        <mat-card-header class="center-xs" >

          <mat-card-title>0</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">Habitantes</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 padding-10">
      <mat-card>
        <mat-card-header class="center-xs" >

          <mat-card-title>0</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">PQRS activos</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 padding-10">
      <mat-card>
        <mat-card-header class="center-xs" >

          <mat-card-title>0</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">Barrios</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

<mat-fab-menu color="primary"
  direction="top"
  tooltipPosition="bottom"
  [fabButtons]="fabButtons"
  class="fab-right"
  icon="edit_note"
  (onFabMenuItemSelected)= "opcionSeleccionada($event)"
>
</mat-fab-menu>