<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >JAC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link"  [routerLink]="['/home']">Pagina principal
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/comunas']">Comunas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/barrios']">Barrios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/habitantes']">Habitantes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/MiembrosJAC']">Junta de Accion Comunal</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Prox</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">Prox</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0"> 
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link"[routerLink]="['/login']" >Iniciar sesion</a>
          </li>
          </ul>
      </form>
  </div>
</nav>



<div class="container">
  <h1>Miembros de la JAC</h1><br>

  <div>
    <button class="btn btn-outline-info" (click)='abrirRegistrarJAC()'>Registrar nuevo miembro</button>
  </div>

  <div class="card">
    <div class="card-body cliente">
      
      <div class="table-container">
        <table id="tabla" class="table-striped tabla">
          <thead>
            <tr>
              <th scope="col">Identificacion</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fech. Naci.</th>
              <th scope="col">Genero</th>
              <th scope="col">Telefono</th>
              <th scope="col">Direccion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let miembro of keys(miembros)">
              <td>{{miembros[miembro]?.identificacion}}</td>
              <td>{{miembros[miembro]?.nombrehabitante}}</td>
              <td>{{miembros[miembro]?.apellidohabitante}}</td>
              <td>{{miembros[miembro]?.nacimientohabitante}}</td>
              <td>{{miembros[miembro]?.generohabitante}}</td>
              <td>{{miembros[miembro]?.telefonohabitante}}</td>
              <td>{{miembros[miembro]?.direccionhabitante}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


