<div class="container">
  <h1>Miembros de la JAC</h1><br>
  <hr>
  <!--
  <div class="card">
    <div class="card-body cliente">

      <div class="table-container">
        <table id="tabla" class="table-striped tabla">
          <thead>
            <tr>
              <th scope="col">Identificacion</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fech. Naci.</th>
              <th scope="col">Genero</th>
              <th scope="col">Telefono</th>
              <th scope="col">Direccion</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let miembro of keys(miembros)">
              <td>{{miembros[miembro]?.identificacion}}</td>
              <td>{{miembros[miembro]?.nombrehabitante}}</td>
              <td>{{miembros[miembro]?.apellidohabitante}}</td>
              <td>{{miembros[miembro]?.nacimientohabitante}}</td>
              <td>{{miembros[miembro]?.generohabitante}}</td>
              <td>{{miembros[miembro]?.telefonohabitante}}</td>
              <td>{{miembros[miembro]?.direccionhabitante}}</td>
              <td>
                <div class="wrapper">
                  <div class="button">
                    <div class="icon">
                      <i  class="fas fa-pen"></i></div>
                    <span>Editar</span>
                  </div>
                  <div class="button">
                    <div class="icon">
                      <i class="fas fa-trash-alt"></i></div>
                    <span>Eliminar</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
  -->

  <div class="card" *ngFor="let miembro of keys(miembros)">

    <div class="title">
      <h2>{{miembros[miembro]?.apellidohabitante}} {{miembros[miembro]?.nombrehabitante}}</h2>
    </div>
    <div class="des">
      <p>Cc. {{miembros[miembro]?.identificacion}}</p>
      <p>Telefono: {{miembros[miembro]?.telefonohabitante}}</p>
      <p>Direccion: {{miembros[miembro]?.direccionhabitante}}</p>
      
      <div class="wrapper">
        <div class="button">
          <div class="icon">
            <i  class="fas fa-pen"></i></div>
        </div>
        <div class="button">
          <div class="icon">
            <i class="fas fa-trash-alt"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonFlooting">
    <div class="icon">
      <i class="fas fa-plus" (click)='abrirRegistrarJAC()'></i></div>
  </div>
    



</div>
