<div class="row margin-0 start-xs padding-16">
    <mat-card-title>Administrar Junta de Accion Comunal</mat-card-title>
  </div>

  <div class="row margin-0 start-xs padding-16">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 padding-10">
      <mat-card (click)="goToCargos()" class="shadow1 borde-radio-10 cursor-pointer">
        <mat-card-header >
          <div mat-card-avatar class="usuarioscargoimage"></div>

          <mat-card-title class="trunc-1">Cargos</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">Gestionar cargos directivos que conforman la junta de accion comunal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>