<form [formGroup]="formulario" (ngSubmit)="guardar()" (keyup.enter)="guardar()" autocomplete="on">

    <div class="row center-xs">
      <h4>{{datosEntrada?.titulo}} rol</h4>
    </div>
    <mat-dialog-content>
     
      <div class="row center-xs">
        <mat-form-field appearance="outline">
          <mat-label>Codigo (*)</mat-label>
          <input matInput placeholder="Codigo"  formControlName="codigo">
          <mat-hint>Identificador en la base de datos, no debe contener espacios</mat-hint>
        </mat-form-field>
    
      </div>
      <div class="row center-xs padding-top-10">
        <mat-form-field appearance="outline">
          <mat-label>Nombre (*)</mat-label>
          <input matInput placeholder="Nombre"  formControlName="nombre">
          <mat-hint>Nombre que será visible en la plataforma</mat-hint>

        </mat-form-field>
    
      </div>
    </mat-dialog-content>
  
    <div class="row center-xs">
      <div class="col-xs">
        <button mat-flat-button (click)="cancelar()" type="button" color="warn">Cancelar</button>

      </div>
      <div class="col-xs">
        <button mat-flat-button (click)="guardar()"  type="submit" color="primary" [disabled]="formulario.invalid" >Guardar</button>
      </div>
    </div>
       
  </form>