
<mat-toolbar class="navColor" >
    <span><mat-icon>apartment</mat-icon> OptimiJAC</span>

    <div class="spacer"></div>
    <a class="opciones" mat-button [routerLink]="['/home']">Información</a>
    <a class="opciones" mat-button [routerLink]="['/comunas']">Comunas</a>
    <a class="opciones" mat-button [routerLink]="['/barrios']">Barrios</a>
    <a class="opciones" mat-button [routerLink]="['/habitantes']">Habitantes</a>
    <a class="opciones" mat-button [routerLink]="['/MiembrosJAC']">MIembros JAC</a>
    <a class="opciones" mat-button [routerLink]="['/SolicitudRegistroHabitantes']">Solicitud Barrio</a>
    <a class="opciones" mat-button [routerLink]="['/Consultasolicitudhabitantes']">Consultar Solicitud </a>
    <a mat-raised-button color="#fff" [routerLink]="['/login']">Inicia Sesión</a>
</mat-toolbar>

