
<hr>
<div class="container">
  <h1>Miembros de la JAC</h1><br>
  <hr>
  
  <div class="card" *ngFor="let miembro of keys(miembros)">

    <div class="title">
      <h2>{{miembros[miembro]?.apellidohabitante}} {{miembros[miembro]?.nombrehabitante}}</h2>
    </div>
    <div class="des">
      <p>Cc. {{miembros[miembro]?.identificacion}}</p>
      <p>Telefono: {{miembros[miembro]?.telefonohabitante}}</p>
      <p>Direccion: {{miembros[miembro]?.direccionhabitante}}</p>
      
      <div class="wrapper">
        <div class="button">
          <div class="icon">
            <i  class="fas fa-pen"></i></div>
        </div>
        <div class="button">
          <div class="icon">
            <i class="fas fa-trash-alt"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonFlooting">
    <div class="icon">
      <i class="fas fa-plus" (click)='modalFormulario()'></i></div>
  </div>
    



</div>
