<div class="container">
    <form >
      <div class="modal-header">
          <h2 class="modal-title">Registrar nuevos miembros de la JAC</h2>
      </div>
    
      <div class="modal-body">
        <h1>Datos Personales</h1><br>

          <div class="datos">
            <mat-form-field style="padding-right: 15px;">
                <mat-label>Identificacion</mat-label>
                <input matInput placeholder="Identificacion" [(ngModel)]="identificacion" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field style="padding-right: 15px;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombrehabitante" [(ngModel)]="nombrehabitante" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field style="padding-right: 15px;">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellidohabitante" [(ngModel)]="apellidohabitante" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
    
        
    
          <div class="datos">
            <mat-form-field style="padding-right: 15px;">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput placeholder="Nacimientohabitante" [(ngModel)]="nacimientohabitante" [ngModelOptions]="{standalone: true}">
              </mat-form-field>

              <mat-form-field style="padding-right: 15px;">
                <mat-label>Genero</mat-label>
                <input matInput placeholder="Generohabitante" [(ngModel)]="generohabitante" [ngModelOptions]="{standalone: true}">
              </mat-form-field>

              <mat-form-field style="padding-right: 15px;">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Telefonohabitante" [(ngModel)]="telefonohabitante" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          

        
          <div class="datos">
              <mat-form-field>
                  <mat-label>Direccion</mat-label>
                  <input matInput placeholder="Direccionhabitante" [(ngModel)]="direccionhabitante" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        
    
        <div class="modal-footer">
          <button class="btn btn-outline-info" (click)="registrarhabitante()">Registrar Cliente</button>
          <button type="button" class="btn btn-outline-danger" (click)="onReset()">Cancelar</button>
        </div>
    
      </div>
    </form>
    

    
  </div>