<form [formGroup]="formulario" (ngSubmit)="guardar()" (keyup.enter)="guardar()" autocomplete="on">

    <div class="row margin-0 center-xs">
        <h4>{{datosEntrada?.titulo}} barrio</h4>
    </div>
    <mat-dialog-content>
        <div class="row margin-0 center-xs start-md start-lg">
            <div class="col-xs-12 center-xs">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre (*)</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre">
                </mat-form-field>
            </div>
            <div class="col-xs-12 center-xs">
                <mat-form-field appearance="fill">
                    <mat-label>Comuna</mat-label>
                    <mat-select formControlName="idComuna" [disabled]="datosEntrada?.barrio?.idComuna">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let comuna of keys(comunas)" [value]="comuna">
                            {{comunas[comuna].nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="rcol-xs-12 center-xs">
                <mat-form-field appearance="fill">
                    <mat-label>Estrato</mat-label>
                    <mat-select formControlName="estrato">
                        <mat-option>Seleccione</mat-option>
                        <mat-option [value]="1">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                        <mat-option [value]="3">3</mat-option>
                        <mat-option [value]="4">4</mat-option>
                        <mat-option [value]="5">5</mat-option>
                        <mat-option [value]="6">6</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <div class="row margin-0 center-xs">
        <div class="col-xs-6">
            <button mat-flat-button (click)="cancelar()" type="button" color="warn">Cancelar</button>
        </div>
        <div class="col-xs-6">
            <button mat-flat-button (click)="guardar()" type="submit" color="primary"
                [disabled]="formulario.invalid">Guardar</button>
        </div>
    </div>

</form>