
<div class="modal-header">
    <h2 class="modal-title">Registrar nueva comuna</h2>
  </div>
  
  <div class="modal-body">
  
    <h1>Datos de la comuna</h1><br>
  
    <div class="datos">
  
      <mat-label>Nombre de la Comuna: </mat-label>
      <input class="form-control" [(ngModel)]="nombre">
    
      <br>

    </div>
  
    <br>
  
    <div class="modal-footer">
      <button class="btn btn-outline-info" (click)="registrar()">Registrar Comuna</button>
      <button type="button" class="btn btn-outline-danger" (click)="onReset()">Cancelar</button>
    </div>
  
</div>
  
