<div class="row center-xs">
    <div class="row center-xs"> <h4>Registrar comuna</h4></div>
    <div class="row center-xs">
        <mat-form-field class="example-form-field">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="nombre">
            
          </mat-form-field>
    </div>
    
</div>
<div>
    <button mat-button color="primary" (click)="registrar()">guardar</button>
    <button type="button" class="btn btn-dark mt-2 btn-sm"[routerLink]="['/comunas']" >Atras</button>
</div>
<div> 
    
</div>
