
<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Iniciar sesion</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Usuario</label>
    <input type="text" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Contraseña</label>
    <input type="password" class="form-control" placeholder="">
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Remember Me</small>
    </label>
    
    <button class="btn btn-login float-right" ><a type="submit" class="btn btn-login float-right" routerLink="/Paginaprincipal" > Iniciar sesion</a></button>
    
  </div>
  
</form>

		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               
         <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Junta de accion comunal</h2>
            <p>La junta de acción comunal es una organización cívica, social y comunitaria de gestión social, sin ánimo de lucro, de naturaleza solidaria, con personería jurídica y patrimonio propio, integrada voluntariamente por los residentes de un lugar que aúnan esfuerzos y r recursos para procurar un desarrollo integral,</p>
        </div>	
  </div>
    </div>
    
    </div>
    
            </div>	   
		    
		</div>
	</div>
</div>