<div class="container">
  
  <hr>
  <h1>Comunas de Valledupar</h1><br>
  <hr>
  
  <div class="card" *ngFor="let comuna of keys(comunas)">
  
      <div class="title">
        <h2>{{comunas[comuna]?.nombre}}</h2>
      </div>
      <div class="des">
          
          <p>Barrios: <br> {{comunas[comuna]?.numerobarrios}}</p>
        <div class="wrapper">
          <div class="button">
            <div class="icon">
              <i  class="fas fa-pen"></i></div>
          </div>
          <div class="button">
            <div class="icon">
              <i class="fas fa-trash-alt"></i></div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="buttonFlooting">
      <div class="icon">
        <i class="fas fa-plus" (click)="abrirRegistrarComunas()" ></i></div>
    </div>
  
</div>