
<hr>
<h1>Comunas de Valledupar</h1><br>
<hr>

<div class="card" *ngFor="let comuna of keys(comunas)">

    <div class="title">
      <h2>Nombre comuna:</h2>
      <p>{{comunas[comuna]?.nombre}}</p>
    </div>
    <div class="des">
        <h2>Numero de barrios:</h2>
        <p>{{comunas[comuna]?.numerobarrios}}</p>
      <div class="wrapper">
        <div class="button">
          <div class="icon">
            <i  class="fas fa-pen"></i></div>
        </div>
        <div class="button">
          <div class="icon">
            <i class="fas fa-trash-alt"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonFlooting">
    <div class="icon">
      <i class="fas fa-plus" [routerLink]="['/formulariocomunas']" ></i></div>
  </div>
