<div class="modal-header">
  <h2 class="modal-title">Registrar nuevo Barrio</h2>
</div>

<div class="modal-body">

  <h1>Datos del barrio</h1><br>

  <div class="datos">

    <mat-label>Nombre del barrio: </mat-label>
    <input class="form-control" [(ngModel)]="nombre">
  
    <br>

    <mat-label>Comuna a la que pertenece: </mat-label>
    <select class="form-control" [(ngModel)]="comuna">
          <option *ngFor="let comuna of keys(comunas)" [value]="comuna">{{comunas[comuna].nombre}}</option>
    </select>
    
    <br>
    
    <mat-label>Nivel de estrato: </mat-label>
    <select [(ngModel)]="estrato" class="form-control" >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </div>

  <br>

  <div class="modal-footer">
    <button class="btn btn-outline-info" (click)="registrar()">Registrar Barrio</button>
    <button type="button" class="btn btn-outline-danger" (click)="onReset()">Cancelar</button>
  </div>

</div>


