<div class="row margin-0 center-xs top-xs">
	<div class="col-xs-12 padding-0 ">
		<ngb-carousel #carousel>
			<ng-template ngbSlide *ngFor="let publi of ultimasPublicaciones; index as i">
				<div class="carousel-caption">
					<h3>Seleccione la Publicacion #{{i + 1}}</h3>
				</div>
				<a (click)=" goToPublicacion(publi?.id)" target="_blank" rel="nofollow noopener noreferrer">
					<div class="picsum-img-wrapper cursor-pointer"
						class="col-xs-12 col-sm-8 col-md-6 col-lg-4 padding-0">
						<img [src]="publi?.urlImage" alt="My image {{i + 1}} description">
					</div>
				</a>
			</ng-template>
		</ngb-carousel>
	</div>
</div>






<div class="row margin-0 center-xs top-xs box_fondoazul">


	<div class="col-xs-12 padding-top-0 ">


		<mat-card-title class="padding-top-35" color="primary">Bienvenidos a OPTIMIJAC </mat-card-title>

		<mat-card-subtitle class="padding-top-25 text_color_blanco">Sin duda, hemos avanzado como OPTIMIJAC, hemos
			logrado
			mayor participación de los residentes en las problemáticas que nos atañen como barrio.<br> Cada vez hay
			mayor interés por aportar ideas e informar sobre riesgos detectados a través de los Grupos Probarrio
			y los Grupos de Seguridad.</mat-card-subtitle>

		<button mat-raised-button color="primary" [routerLink]="['/autenticacion/login']">Ingresar</button>

	</div>
	<div style="height: 150px; width: 100%; overflow: hidden; position: relative; bottom: 0px;"
		class="padding-0 margin-0 "><svg viewBox="0 0 500 150" preserveAspectRatio="none"
			style="height: 100%; width: 100%;">
			<path d="M-0.00,50.09 C149.83,150.33 348.82,-50.09 513.99,63.76 L515.12,152.19 L-0.00,150.33 Z"
				style="stroke: none; fill: #ffffff;"></path>
		</svg></div>

</div>

<div class="row margin-0 center-xs top-xs box_fondoblanco">
	<div class="col-xs-12 padding-top-0">
		<mat-card-title class="text_color_negro" color="primary">Quienes Somos </mat-card-title><br>
		<mat-card-subtitle class="text_color_negro">Somos una organización cívica, social y comunitaria de
			gestión social, sin ánimo de lucro.<br> Contamos con unapersonería jurídica y patrimonio propio, integrada
			voluntariamente por los residentes de un barrio, quienes buscan unirse, con fundamento en la
			democracia participativa.</mat-card-subtitle>
	</div>

</div>






<div class="row margin-0 center-xs top-xs box_fondoazul ">
	<div style="height: 150px; width: 100%;  overflow: hidden; position: relative; bottom: 0px;"
		class=" padding-0 margin-0 "><svg viewBox="0 0 500 150" preserveAspectRatio="none"
			style="height: 100%; width: 100%;">
			<path d="M-0.00,50.09 C149.83,150.33 271.60,-50.09 519.06,63.76 L499.44,-0.00 L-0.00,-0.00 Z"
				style="stroke: none; fill: #ffffff;"></path>
		</svg></div>
	<div class="col-xs-12">

		<mat-card-title class="padding-top-0" color="primary">Ofrecemos </mat-card-title>
		<mat-card-subtitle class="padding-top-15 text_color_blanco">Gestiones para cualquier comunidad
		</mat-card-subtitle>

	</div>

	<div class="row margin-0 center-xs col-xs-4 ">
		<div class="h-100 w-100 posicion_riple_izquierda example-ripple-container mat-elevation-z4" matRipple
			[matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
			[matRippleRadius]="200" [matRippleColor]="'white'">
		</div>

	</div>
	<div class="row margin-0 center-xs col-xs-4">
		<div class="h-100 w-100 posicion_riple_centrado example-ripple-container mat-elevation-z4" matRipple
			[matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
			[matRippleRadius]="200" [matRippleColor]="'white'">
		</div>
	</div>
	<div class="row margin-0 center-xs col-xs-4">
		<div class="h-100 w-100 posicion_riple_derecha example-ripple-container mat-elevation-z4" matRipple
			[matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
			[matRippleRadius]="200" [matRippleColor]="'white'">
		</div>

	</div>
	<div style="height: 150px; width: 100%; overflow: hidden; position: relative; bottom: 0px;"
		class="padding-0 margin-0 "><svg viewBox="0 0 500 150" preserveAspectRatio="none"
			style="height: 100%; width: 100%;">
			<path d="M-0.00,50.09 C149.83,150.33 348.82,-50.09 513.99,63.76 L515.12,152.19 L-0.00,150.33 Z"
				style="stroke: none; fill: #ffffff;"></path>
		</svg></div>
</div>









<div class="row margin-0 center-xs top-xs">
	<div class="col-xs-12 padding-0">
		<ngb-carousel #carousel>

			<ng-template ngbSlide *ngFor="let image of images; index as i">

				<div class="col-xs-12 padding-0">

					<img [src]="image" alt="Random slide">

				</div>

				<div class="carousel-caption">


					<h3 class="col-xs-12 text_color_negro top-xs ">Clientes Satisfechos</h3>
					<mat-card class="shadow1 borde-radio-20">

						<mat-card-header class="start-xs  middle-xs">
							<div mat-card-avatar class="habitantesimage"></div>
							<mat-card-title>Gabriela santo domingo</mat-card-title>
							<mat-card-subtitle class="margin-bottom-0">Habitantes</mat-card-subtitle>

						</mat-card-header>
					</mat-card>
					<mat-card class="shadow1 borde-radio-20">
						<mat-card-header class="start-xs  middle-xs">
							<div mat-card-avatar class="habitantesimage"></div>
							<mat-card-title>Antonieta de las nieves</mat-card-title>
							<mat-card-subtitle class="margin-bottom-0">Habitantes</mat-card-subtitle>
						</mat-card-header>
					</mat-card>
					<mat-card class="shadow1 borde-radio-20">
						<mat-card-header class="start-xs  middle-xs">
							<div mat-card-avatar class="habitantesimage"></div>
							<mat-card-title>Kleydis Sarabia carrillo</mat-card-title>
							<mat-card-subtitle class="margin-bottom-0">Habitantes</mat-card-subtitle>
						</mat-card-header>
					</mat-card>
					<mat-card class="shadow1 borde-radio-20">
						<mat-card-header class="start-xs  middle-xs">
							<div mat-card-avatar class="habitantesimage"></div>
							<mat-card-title>Luisa fernanda andrade</mat-card-title>
							<mat-card-subtitle class="margin-bottom-0">Habitantes</mat-card-subtitle>
						</mat-card-header>
					</mat-card>


				</div>


			</ng-template>
		</ngb-carousel>



	</div>
</div>


<div class="row margin-0 center-xs top-xs box_fondoblanco">

	<div class="col-xs-12 padding-top-0 padding-0 h-100 w-100">

		<div class="center-xs box_fondoazul ">

			<div class="padding-top-0">
				<mat-card-title class="padding-top-20" color="primary">Contactanos </mat-card-title>
				<mat-card-subtitle class="padding-top-10 text_color_blanco">Lorem ipsum dolor sit amet consectetur
					adipisicing elit.
				</mat-card-subtitle>
				<div>
					<span class="text_color_blanco  material-icons">
						location_city
					</span>
					<mat-card-subtitle class="text_color_blanco">Valledupar, cesar
					</mat-card-subtitle>
				</div>
				<div>
					<span class=" text_color_blanco  material-icons material-icons">
						settings_phone
					</span>
					<mat-card-subtitle class="text_color_blanco">3002141548
					</mat-card-subtitle>
				</div>
				<div>
					<span class="text_color_blanco  material-icons">
						mail
					</span>
					<mat-card-subtitle class="text_color_blanco">OPTIMIJAC@GMAIL.COM
					</mat-card-subtitle>
				</div>

			</div>

		</div>

	</div>

</div>