
<ngb-carousel #carousel  >
    <ng-template ngbSlide *ngFor="let publi of ultimasPublicaciones; index as i">
      <div class="carousel-caption">
        <h3>Seleccione la Publicacion #{{i + 1}}</h3>
      </div>
      <a (click)=" goToPublicacion(publi?.id)" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper cursor-pointer" class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
          <img [src]="publi?.urlImage" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>





 <!--Codigo funcional--> 


<button mat-fab color="primary" class="fab-right" (click)="modalFormulario()">
  <mat-icon>add</mat-icon>
</button>