<div style="height: 100%; background-color:#e0e0e0 ; " class="row margin-0 middle-xs center-xs padding-16" >

  <mat-card class="shadow1 borde-radio-10 cursor-pointer
    col-xs-12
    col-sm-8
    col-md-6
    col-lg-4">
    <mat-card-header class="row margin-0 center-xs">
      <mat-card-title>INICIAR SESIÓN</mat-card-title>
      <mat-card-subtitle>Inicia Sesión o crea tu cuenta.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content >
      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Login">
          <mat-form-field class="example-full-width">
            <mat-label >Email</mat-label>
            <input type="email" matInput placeholder="Email" [(ngModel)]="email" name="email" >
            <mat-icon color="primary" matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña"  [(ngModel)]="password" name="password">
            <mat-icon color="primary"  matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" class="example-full-width" (click)="login()" [routerLink]="['/home/landing']" >Login</button>
        </mat-tab>

        <mat-tab label="Registrer">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" [(ngModel)]="emailRegistrar" name="emailRegistrar">
            <mat-icon color="primary"  matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña" [(ngModel)]="passwordRegistrar" name="passwordRegistrar">
            <mat-icon color="primary"   matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>RepetirContraseña</mat-label>
            <input type="password" matInput placeholder="Confirmar Contraseña" [(ngModel)]="cpasswordRegistrar" name="cpasswordRegistrar">
            <mat-icon color="primary"  matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" class="example-full-width" (click)="registrar()">Registrar</button>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>